body {
    background-image:-webkit-repeating-radial-gradient(yellow,green);
    font-family: Comic Sans MS;
}
#nav {
    position: fixed;
    background: -webkit-radial-gradient(top,white,blue);
    width: 1400px;
    margin-left: -8px;
    margin-top: -8px;
    text-align: center;
}
#nav a {
    text-decoration: none;
    color: #000000;
}
#nav ul {
    list-style-type: none;
}
#nav li {
    border-radius: 5px;
	border: 2px solid red;
	background-color: white;
	display: inline;   
}
#nav li:hover {
    background: -webkit-linear-gradient(left,red,blue);
}
#nav ul li {
    position: relative;
}
#nav li ul {
    display: none;
}
#nav li:hover > ul {
    display: block;
    position: absolute;
    margin-left: -40px;
}
#space-taker {
    height: 30px;
}
footer{
 background-image:-webkit-radial-gradient(yellow,green);  
    border: 2px solid black;
    border-radius:50px;
    height:125px;
    width:50%;
    margin-left:25%;
align-items:center;
    margin-top:420px;
   
}

    
    
